/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  border: 2px solid bla;
  margin-top: 20px;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(212, 42, 42);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin-top: 20px;
}

.container h2 {
  color: #55340e;
}

Button {
  width: 50px;
  justify-content: center;
}
